* {
  box-sizing: border-box;
}

h2 {
  color: white;
  background-color: #444;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 2px;
  display:block;
  width:100%;
  max-width: 900px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}
.nav ul li {
  display:inline-block;
  background-color: #d9dde2;
  font-size: 20px;
  color:white;
  margin-left: auto;
  margin-right: auto;
  padding-left:5px;
  padding-right:5px;
  padding-top: 10px;
  padding-bottom:8px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;


}

.nav ul  {
  margin:auto;
  width: 30%;

}

.photo {
  background-color: #42f4d9;
  font-size: 25px;
  font-family: sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom:10px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 5px;



}


strong {
  text-decoration: underline;
  text-decoration-color: yellow;
  weight:800px
}

.copy{
  background-color: black;
  color:white;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
